#formato {
    font-weight: bold;
    position: relative;
    left: 450px;
    top: 210px;
    border-style: solid;
    border-width: medium;
    border-color: gray;
    width: 400px;
    height: 200px;
    background-color: #d0d3d8;
    opacity: 0.9;
}
.loja{
    height: 17%;
    width: 40%;
    position: relative;
    left: 5%;
    background-color: #4bf187;
    overflow: hidden;
}
.loja:hover{
    background-color: #33d96d;
}
.pessoa{
    height: 17%;
    width: 40%;
    position: relative;
    left: 15%;
    background-color: #4bf187;
}
.pessoa:hover{
    background-color: #33d96d;
}
#titulo{
    position: relative;
}